/*desktop view*/
html{
    font-size: 16px;
    font-family: arial;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    background-color: lightgray;
    height: 40vh;
    width: 100%;
}
div{
    background-color: gray;
    width: 90%;
    height: 40vh;
    margin: 50px;
}
p{
    width: 80%;
}

/*tablet view*/
@media((min-width:601px) and (max-width:768px)){
    html{
        font-size: 14px;
    }
    header{
        background-color: red;
    }
    div{
        width: 80%;
    }
}


/*phone view*/
@media((max-width:600px)){
    html{
        font-size: 12px;
    }
    header{
        background-color: blue;
    }
    div{
        width: 100%;
        margin: 0;
    }
}
